@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?wrvakm');
  src:  url('icomoon.eot?wrvakm#iefix') format('embedded-opentype'),
    url('icomoon.ttf?wrvakm') format('truetype'),
    url('icomoon.woff?wrvakm') format('woff'),
    url('icomoon.svg?wrvakm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-solid-circle:before {
  content: "\e901";
}
.icon-envelope:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e900";
}
.icon-letter:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e958";
}
